<?php /* views/newsender.php.twig */ ?>
{{ form_start(form) }}
<div class="mb-3">
{{ form_errors(form.name) }}
    {{ form_label(form.name, 'Name', {'label_attr': {'class': 'form-label' }}) }}
    {{ form_widget(form.name, {'attr': {'class': 'form-control', 'id': 'inputName' } } ) }}
    <div id="nameHelp" class="form-text">Sender's name</div>
</div>
<div class="mb-3">
    {{ form_errors(form.email) }}
    {{ form_label(form.email, 'E-mail', {'label_attr': {'class': 'form-label' }}) }}
    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'id': 'inputName' } } ) }}
    <div id="nameHelp" class="form-text">Sender's e-mail address</div>
</div>
<div class="mb-3">
{{ form_errors(form.phone) }}
    {{ form_label(form.phone, 'Phone', {'label_attr': {'class': 'form-label' }}) }}
    {{ form_widget(form.phone, {'attr': {'class': 'form-control', 'id': 'inputName' } } ) }}
    <div id="nameHelp" class="form-text">Sender's phone</div>
</div>
<div class="mb-3">
    {{ form_errors(form.city) }}
    {{ form_label(form.city, 'City', {'label_attr': {'class': 'form-label' }}) }}
    {{ form_widget(form.city, {'attr': {'class': 'form-control', 'id': 'inputName' } } ) }}
    <div id="nameHelp" class="form-text">Sender's city</div>
</div> 
<div class="mb-3">
    {{ form_errors(form.address1) }}
    {{ form_label(form.address1, 'Address 1', {'label_attr': {'class': 'form-label' }}) }}
    {{ form_widget(form.address1, {'attr': {'class': 'form-control', 'id': 'inputName' } } ) }}
    <div id="nameHelp" class="form-text">Sender's address</div>
</div> 
<div class="mb-3">
    {{ form_errors(form.address2) }}
    {{ form_label(form.address2, 'Address 2', {'label_attr': {'class': 'form-label' }}) }}
    {{ form_widget(form.address2, {'attr': {'class': 'form-control', 'id': 'inputName' } } ) }}
    <div id="nameHelp" class="form-text">Sender's address</div>
</div>
<div class="mb-3">
    {{ form_errors(form.code) }}
    {{ form_label(form.code, 'Post code', {'label_attr': {'class': 'form-label' }}) }}
    {{ form_widget(form.code, {'attr': {'class': 'form-control', 'id': 'inputName' } } ) }}
    <div id="nameHelp" class="form-text">Sender's post code</div>
</div>
<div class="d-flex justify-content-between"><button type="submit" class="btn btn-secondary">Submit</button> <a href="/senderslist" type="button" class="btn btn-light float-right">Cancel</a></div>
{{ form_end(form) }}
